html body{
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-image: url("./assets/forest-BG1.jpg");
  background-size: cover;
}
.App-header{
  width: 100%;
  color: white;
  border: 5px solid #5a984c;
  box-sizing: border-box;
  height: 10vh;
  
}
.App-footer{
  width: 100%;
  flex:1;
  color: white;
  border: 5px solid #6563d2;
  box-sizing: border-box;
}
.App-main{
  width: 80%;
  color: white;
  border: 5px solid #d0ab6b;
  height: 70vh;
  
}
.App-sidebar{
  width: 20%;
 color: white;
  border: 5px solid #e776f5;
  flex: 1;
  
}
.App{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  border: 5px solid #cc3c3c;
  overflow: hidden;
}
.App-mainContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
}