html body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;

}

.App-header {
    width: 100%;
    color: white;
    border: 5px solid #5a984c;
    box-sizing: border-box;
    height: 10vh;

}

.App-footer {
    width: 100%;
    flex: 1;
    color: black;
    border: 5px solid #6563d2;
    box-sizing: border-box;
}

.SidebarCmp {
    margin-top: 0;
}

.App-main {
    width: 80%;
    color: white;
    border: 5px solid #d0ab6b;
    height: 70vh;
    background-image: url("./assets/forest-BG1.jpg");
    background-size: cover;
    position: relative;

}

.App-sidebar {
    width: 20%;
    color: black;
    border: 5px solid #e776f5;
    flex: 1;
    margin-top: 0;

}

.App {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border: 5px solid #cc3c3c;
    overflow: hidden;
}

.App-mainContainer {
    display: flex;
    flex-direction: row;
    width: 100%;

}

.userCmp img {
    width: 60px;
    height: 60px;
    padding: 0;
    position: relative;
    translate: 0 40px;
    display: inline-block;
}

.userCmp {
    margin-bottom: 10px;
    padding: 10px;
    margin-top: 0;
}

.userCmp p {
    display: inline-block;
}

.addNewTodoCmp {
    margin: 10px;
}

.addNewTodoCmp .btn .addNewTodoCmp_btn {
    width: 100%;
    background-color: #0080ff;
    color: white;
    border: none;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-top: 10px;

}

.addNewTodoCmp .btn {

    border-bottom: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee;
}


.addNewTodoCmp .btn button:hover {
    filter: brightness(1.1);

}

.addNewProject_btn {
    width: 20px;
    height: 20px;

}

.addNewProject_btn:hover {
    filter: brightness(1.1);
}

.ProjectsCmp {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.ProjectsCmp label {
    flex: 1;
}

.ProjectCmp {
    width: 100%;
}

.RenameProjectCmp {
    width: 19px;
    height: 19px;
}

.RenameProjectCmp:hover {
    background-color: #9a8b8b;
}

.deleteProjectCmp {
    width: 20px;
    height: 20px;
    right: 0;
}

.deleteProjectCmp:hover {
    background-color: #9a8b8b;
}

.ProjectsCmpHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.ProjectCmp.selected {
    width: 100%;
    background-color: #9a8b8b;
    display: flex;
    flex-direction: row;
}

.ProjectCmp.selected label {
    flex: 1;
}

.Modal {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.ModalContent {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
}

.addNewTodoCmp form {
    width: 500px;
    padding: 1rem;
    background-color: whitesmoke;
    border-radius: 10px;
}

.addNewTodoCmp form .text input {
    width: 100%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    height: 30px;
}

.addNewTodoCmp Form .text input:focus {
    outline: none;
    border-bottom: 1px solid #0080ff;
}

.addNewTodoCmp form .remind {
    display: flex;
    flex-direction: row;
    padding: .5rem;
}

.addNewTodoCmp form .remind .bell-icon {
    transform: translateY(15px);
}

.addNewTodoCmp form .pick-day {
    padding: 1rem;
}

.addNewTodoCmp form .pick-time {
    padding: 1rem;
}

.addNewTodoCmp form .pick-project {
    padding: 0.5rem;
}

.addNewTodoCmp form .projects {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.addNewTodoCmp form .projects .project {
    border: 1px solid #0080ff;
    border-radius: 2px;
    margin: 10px;
}

.addNewTodoCmp form .projects .project.active {
    border: 1px solid #0080ff;
    border-radius: 2px;
    margin: 10px;
    background-color: #0080ff;
    color: white;
}

.addNewTodoCmp form .title {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.addNewTodoCmp form .title h3 {
    flex: 1;
}

.addNewTodoCmp form .title .cancel {
    width: 40px;
    height: 40px;
}

.addNewProjectCmp form {
    width: 300px;
    padding: 1rem;
    background-color: whitesmoke;
    border-radius: 10px;

}

.addNewProjectCmp form .text input {
    border-radius: 5px;
    width: 100%;
    border: none;
    height: 30px;
    font-size: 1rem;
}

.addNewProjectCmp form .text input:focus {
    outline: none;
    border-bottom: 1px solid #0080ff;
}

.addNewProjectCmp form .btns {
    display: flex;
    flex-direction: row;
}

.addNewProjectCmp form .btns .cancel {
    flex: 1;
}

.addNewProjectCmp form .btns .addProject {
    flex: 1;
    background-color: #0080ff;
    color: white;
    border: none;
    border-radius: 5px;
}

.addNewProjectCmp form .btns button:hover {
    filter: brightness(1.1);
}

.RenameProject form {
    width: 300px;
    padding: 1rem;
    background-color: whitesmoke;
    border-radius: 10px;
}

.RenameProject form .text input:focus {
    outline: none;
    border-bottom: 1px solid #0080ff;
}

.TodosCmp {
    width: 450px;
    height: 80%;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 10px;
    color: black;
    margin: 10px;
    position: absolute;
    bottom: 40px;
    left: 40px;
    opacity: 0.9;

}

.TodosCmp .selectedProject {
    margin: 1rem 0;
    text-transform: capitalize;
    font-size: 1.2rem;
    border-bottom: 1px solid #eeeeee;
}

.TodosCmp .Todos {
    overflow-y: auto;
}

.TodoCmp .text {
    position: relative;
    flex: 1;
}

.TodoCmp .text .line {
    height: 1px;
    background: #bebebe;
    position: absolute;
    top: 37%;
    width: 0;
    transition: width 0.25s ease-in-out;

}

.TodoCmp .text .line-through {
    width: 100%;
}

.TodoCmp {
    display: flex;
    align-items: center;
}

.CalenderCmp .header {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.CalenderCmp .header .title {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex: 1;
}

.CalenderCmp .header .title p {
    margin: 0;
}
.CalenderCmp .calenderItems {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.editTodoCmp{
    position: absolute;
    bottom: 40px;
    left: calc(40px + 450px + 40px);
    height: 80%;
    width: 450px;
    margin: 10px;
    background-color: whitesmoke;
    border-radius: 10px;
    color: black;
    opacity: 0.9;
    padding: 10px;
}