html body{
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;

}
.App-header{
  width: 100%;
  color: white;
  border: 5px solid #5a984c;
  box-sizing: border-box;
  height: 10vh;
  
}
.App-footer{
  width: 100%;
  flex:1;
  color: black;
  border: 5px solid #6563d2;
  box-sizing: border-box;
}
.App-main{
  width: 80%;
  color: white;
  border: 5px solid #d0ab6b;
  height: 70vh;
  background-image: url("./assets/forest-BG1.jpg");
  background-size: cover;
  
}
.App-sidebar{
  width: 20%;
 color: black;
  border: 5px solid #e776f5;
  flex: 1;
  
}
.App{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  border: 5px solid #cc3c3c;
  overflow: hidden;
}
.App-mainContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  
}
.userCmp img{
  width:60px;
  height:60px;
  padding: 0;
  position: relative;
  translate: 0 40px;
  display: inline-block;
}
.userCmp p{
  display:inline-block;
}

.addNewTodoCmp{
  margin:10px
}
.addNewTodoCmp button{
  width:100%
}
.addNewProjectCmp{
  width:15px;
  height: 15px;
  border: 5px black solid;
  
}
.addNewProjectCmp:hover{
  background-color: #9a8b8b;
}
.ProjectsCmp {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5px;
}
.ProjectsCmp label{
  width: 80%;
}
.ProjectCmp{
  width: 100%;

}
.RenameProjectCmp{
  width:15px;
  height: 15px;
  border: 5px black solid;
}
.RenameProjectCmp:hover {
  background-color: #9a8b8b;
}
.deleteProjectCmp{
  width:15px;
  height: 15px;
  border: 5px black solid;
}
.deleteProjectCmp:hover{
  background-color: #9a8b8b;
}
.ProjectsCmpHeader{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.ProjectCmp.selected{
  background-color: #9a8b8b;
}